<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhchain.business.exp.dao.ExptypeDetailMapper">
    <select id="selectByExptypeId" parameterType="com.dhchain.business.exp.vo.ExptypeDetail" resultType="com.dhchain.business.exp.vo.ExptypeDetail">
        SELECT

        *

        FROM
        t_exptype_detail
        where isdelete = 0
        <if test="exptypeid!=null and exptypeid!=''">and exptypeid = #{exptypeid}</if>

    </select>

    <select id="selectST"  resultType="com.dhchain.business.exp.vo.ExptypeDetail">
        SELECT

        *

        FROM
        t_exptype_detail
        where isdelete = 0


    </select>

    <select id="selectById" parameterType="java.lang.Integer" resultType="com.dhchain.business.exp.vo.ExptypeDetail">
        SELECT

        *

        FROM
        t_exptype_detail
        where id = #{id}

    </select>

    <insert id="insert" parameterType="com.dhchain.business.exp.vo.ExptypeDetail" useGeneratedKeys="true" keyProperty="id">
        insert into t_exptype_detail(exptypeno, exptypename,expattrkind,expattrele,attrno,attrname,attrnore,attrnamere,inputman,inputdate,islocked,exptypeid,attrid,attrreid,expattrkindid,isdelete)
        values(#{exptypeno}, #{exptypename},#{expattrkind}, #{expattrele},#{attrno}, #{attrname},#{attrnore},#{attrnamere},#{inputman},#{inputdate},#{islocked},#{exptypeid},#{attrid},#{attrreid},#{expattrkindid},#{isdelete})
    </insert>

    <update id="update" parameterType="com.dhchain.business.exp.vo.ExptypeDetail" >
        UPDATE t_exptype_detail
        SET exptypeno = #{exptypeno},
        exptypename = #{exptypename},
        expattrkind = #{expattrkind},
        expattrele = #{expattrele},
        attrno = #{attrno},
        attrname = #{attrname},
        attrnore = #{attrnore},
        attrnamere = #{attrnamere},
        modifyman = #{modifyman},
        modifydate = #{modifydate},
        islocked = #{islocked},
        exptypeid = #{exptypeid},
        attrid = #{attrid},
        attrreid = #{attrreid},
        expattrkindid = #{expattrkindid}

        WHERE id = #{id};
    </update>

    <update id="delete" parameterType="com.dhchain.business.exp.vo.ExptypeDetail" >
        UPDATE t_exptype_detail
        SET
        isdelete = 1
        WHERE id in
        <foreach item="item" index="index" collection="array"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>



</mapper>