<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhchain.business.code.dao.CodeManageMapper">
    <select id="selectByTypeid" parameterType="com.dhchain.business.code.vo.CodeManageType" resultType="com.dhchain.business.code.vo.CodeManageType">
        SELECT * FROM
        t_codemanage
        where isdelete = 0 and ftypeno = #{typeid}

    </select>
    <select id="selectById" parameterType="java.lang.Integer" resultType="com.dhchain.business.code.vo.CodeManageType">
        SELECT * FROM
        t_codemanage
        where isdelete = 0 and id = #{id}

    </select>

    <select id="selectByTypeno" parameterType="com.dhchain.business.code.vo.CodeManageType" resultType="com.dhchain.business.code.vo.CodeManageType">
        SELECT * FROM
        t_codemanage
        where isdelete = 0 and typeno = #{typeno}

    </select>
    <insert id="codeManageAdd" parameterType="com.dhchain.business.code.vo.CodeManageType" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO t_codemanage(ftypeno,ftypename,typeno,typename,codelength,codeway,codenameway,codebegin,codeend,isdelete,isunique
        )
        VALUES(#{ftypeno},#{ftypename},#{typeno},#{typename},#{codelength},#{codeway},#{codenameway},#{codebegin},#{codeend},0,#{isunique})
    </insert>
    <update id="codeManageDelete" parameterType="com.dhchain.business.code.vo.CodeManageType" >
        UPDATE t_codemanage
        SET
        isdelete = 1
        WHERE id in
        <foreach item="item" index="index" collection="array"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    <select id="getTypeDetail" parameterType="com.dhchain.business.type.vo.TypeDetail" resultType="com.dhchain.business.type.vo.TypeDetail">
        SELECT b.id as id,b.typeno as typeno,b.typename as typename,b.kindnum as kindnum,b.fid as fid FROM
        t_type as a
        inner join t_type_detail as b on a.id=b.typeid
        where b.islocked = 0 and a.typeno = #{typeno} and b.isdelete = 0

    </select>

    <update id="codeManageEdit" parameterType="com.dhchain.business.code.vo.CodeManageType" >
        UPDATE t_codemanage
        SET ftypeno = #{ftypeno},
        ftypename = #{ftypename},
        typeno = #{typeno},
        typename = #{typename},
        codelength = #{codelength},
        codeway = #{codeway},
        codenameway = #{codenameway},
        codebegin = #{codebegin},
        codeend=#{codeend},
        isunique = #{isunique}
        where id = #{id}
    </update>
</mapper>